{% extends 'index.html' %}

{% block title %}Borrar Datos{% endblock %}

{% block contenido %}
    <h1 class="text-center">Borrar Datos</h1>
    {% if mensaje %}
    <div class="alert {% if mensaje == 'Datos borrados correctamente' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
        {{ mensaje }}
        </div>
    {% endif %}
    <div class="text-center">
        <form method="post" action="{% url 'EliminarDatos' %}" style="display: inline-block;">
            <button type="submit" class="btn btn-danger" onclick="mostrarSpinner()">Borrar Todo</button>
        </form>
        <div id="spinner" style="display: none;">
            <!-- Aquí puedes colocar tu spinner -->
        </div>
    </div>

     <!-- Scripts de Bootstrap y Spin.js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
     <!-- Incluir una versión compatible de Spin.js -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
     <script>
         function mostrarSpinner() {
             var target = document.getElementById('spinner');
             var spinner = new Spinner().spin(target); // Crear y mostrar el spinner
             target.style.display = 'block'; // Mostrar el contenedor del spinner
         }
     </script>
{% endblock %}

{% block estilos %}
    <style>
        .alert {
            margin-bottom: 20px;
        }
        .text-center {
            text-align: center;
        }
        button.btn {
            margin-top: 10px;
        }
    </style>
{% endblock %}
